/* for divs */

.paragraph-text {
  width: 45%; 
  margin: 0 auto; 
  text-align: left;
}

.image-div {
  width: 60%;
  margin: 0 auto;
  border: none;
  text-align: center;
}


/* .images {
  width: 50%;
  height: auto;
  justify-content: center; /* Center the image */
/* } 

/* for div tags */
.button-row {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10%;              /* Space between buttons */
  border: solid black;
}

/* applies to numericInput( ) */
.numeric-input-wrapper input[type="number"] {
  width: 40% !important;
  /* You can adjust 80px to whatever width you prefer */
}