/* for divs */

.paragraph-text {
  width: 500px; 
  margin: 0 auto; 
  text-align: left;
  border: 1px solid black;
}


.image-div {
  width: 550px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}


.plot-div {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  border: 1px solid black;
}


/* for div tags */
.button-row {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10%;              /* Space between buttons */
  border: solid black;
}

/* applies to numericInput( ) */
.numeric-input-wrapper input[type="number"] {
  width: 75% !important;
  /* You can adjust 80px to whatever width you prefer */
}